@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Couch Contact</h1>
    <p>An app for storing contacts using <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a> and <a href="https://www.couchbase.com/" target="_blank">CouchBase</a> .</p>
    <a class="btn btn-lg btn-success" asp-area="" asp-action="Index" asp-controller="Contacts">Get Started</a>
</div>
